@import url(webfonts.css);
@import url("https://rsms.me/inter/inter.css");

body {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.75;
    color: #333;
}

p {
    max-width: 720px;
}

h2 {
    font-family: "VeronaSerial-bold";
    font-size: 36px;
    letter-spacing: 0.5;
}

h3 {
    font-family: "VeronaSerial-bold";
    font-size: 24px;
    letter-spacing: 0.5;
    padding-bottom: 24px;
}

h4 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 16px;
}

h5 {
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f9f9f9;
    padding-top: 24px;
}


main {
    margin: 10px;
    background-color: white;
    min-height: calc(100vh - 20px);
}

.main-case-study {
    margin: 0px;
    min-height: calc(100vh);
}


a {
    text-decoration: none;
    font-weight: 500;
    color: #333;
    border-bottom: 2px solid #333;
    margin-bottom: 4px;
    transition: border-bottom 0.1s ease-in-out;
    padding-bottom: 4px;
}

a:hover {
    color: #333;
    border-bottom: 4px solid #333;
}

a:visited {
    color: #333;
}

p {
    margin-bottom: 16px;
}

/* about page styles */

.about {
    background-color: #2f80ed;
}

header {
    text-align: center;
    padding: 24px 24px;
    border-bottom: 10px solid #2F80ED;
    color: #333;
}

.about-me {
    padding-bottom: 24px;
}


.hello {
    margin-top: 24px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 24px 64px 24px;
}

.button {
    display: inline-block;
    padding: 1em 1.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #333;
    text-align: center;
    transition: all 0.2s;
    background-color: #fff;
    border: 5px solid #2f80ed;
    margin-top: 24px;
    margin-right: 40px;
    transform: rotate(0deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.button:hover {
    border: 5px solid #2f80ed;
    transform: rotate(-4deg);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
        0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

/* Case study styles */

img {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}

.flex-grid {
    display: flex;
    padding: 80px 80px;
    align-items: center;
    justify-content: space-between;
}

.flex-grid.header {
    padding: 80px 0px 0px 80px;
}

.col {
    width: 48%;
}

.thirds .col {
    width: 32%;
}


.block {
    display: flex;
    justify-content: center;
    padding: 80px;
}

/* Installation specific styles */

.installation {
    background-color: #3923b7;
}

.installation-header {
    text-align: center;
    padding: 48px 24px;
    background-color: #3923b7;
    border-bottom: none;
}

.installation-header a {
    color: white;
    border-bottom: 2px solid white;
}

.installation-header a:hover {
    color: white;
    border-bottom: 4px solid white;
}

.installation-header a:visited {
    color: white;
    border-bottom: 4px solid white;
}

.installation-footer {
    text-align: center;
    padding: 48px 24px;
    background-color: #3923b7;
    border-bottom: none;
}

.installation-footer a {
    color: white;
    border-bottom: 2px solid white;
}

.installation-footer a:hover {
    color: white;
    border-bottom: 4px solid white;
}

.installation-footer a:visited {
    color: white;
    border-bottom: 4px solid white;
}

.caption {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 700;
}

.center {
    text-align: center;
}


/* subscription styles */
.subscription {
    background-color: red;
}



/* colors for sections */

.gray {
    background-color: #f5f7fa;
}

.purple {
    background-color: #3923b7;
    color: #fff;
}

.dark-gray {
    background-color: #242A35;
    color: #fff;
}

.dark-gray a {
    color: #fff;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.1s ease-in-out;
}

.dark-gray a:hover {
    color: #fff;
    border-bottom: 4px solid #fff;
}

.research-image {
    margin-bottom: 48px;
}

/* responsive styles */



@media screen and (max-width:1200px) {
    .flex-grid {
        display: block;
    }

    .thirds .col {
        width: 100%;
    }

    .col {
        width: 100%;
    }

    .flex-grid.header {
        padding: 80px;
    }

    .flex-grid {
        padding: 80px;
    }

    .block {
        padding: 80px;
    }

    .one {
        padding-bottom: 24px;
    }

}

@media only screen and (max-width: 400px) {

    .flex-grid.header {
        padding: 18px;
    }

    .flex-grid {
        padding: 18px;
    }

    .block {
        padding: 18px;
    }
}