@import url(webfonts.css);
@import url('https://rsms.me/inter/inter.css');

body {
    background-color: #EB5757;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.75;
}

h2 {
    font-family: "VeronaSerial-bold";
    font-size: 24px;
    margin-bottom: 16px;
}

.about {
    background-color: #2F80ED;
}


main {
    margin: 10px;
    background-color: white;
    min-height: calc(100vh - 20px);

}

header {
    height: 20px;
    text-align: center;
    padding: 64px 24px;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    border-bottom: 2px solid black;
    margin-bottom: 4px;
    transition: border-bottom 0.1s ease-in-out;
    padding-bottom: 4px;
}

a:hover {
    color: black;
    border-bottom: 4px solid black;
}

a:visited {
    color: black;
}

p {
    margin-bottom: 16px;
}

/* about page styles */

.hello {
    margin-top: 64px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 24px 64px 24px;
}

.button {
    display: inline-block;
    padding: 1em 1.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
    transition: all 0.2s;
    background-color: #fff;
    border: 5px solid #2F80ED;
    margin-top: 24px;
    margin-right: 40px;
    transform: rotate(0deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.button:hover {
    border: 5px solid #2F80ED;
    transform: rotate(-4deg);
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
        0 5px 15px 0 rgba(0, 0, 0, 0.08);
}

/* Case study styles */

.case-study {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
}

h2 {
    text-align: center;
}


/* make it responsive */