@import url(webfonts.css);
@import url('https://rsms.me/inter/inter.css');

/* typography */

p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.75;
}

footer p {
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  border-bottom: 2px solid black;
  margin-bottom: 4px;
  transition: border-bottom 0.1s ease-in-out;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  border-bottom: 4px solid black;
}

h2 {
  font-family: "VeronaSerial-bold";
  font-size: 24px;
  transform: rotate(-6deg);
  margin-top: 40px;
  margin-left: 40px;
  width: fit-content;
}

h3 {
  font-family: "VeronaSerial-bold";
  font-size: 18px;
  width: fit-content;
  margin-bottom: 24px;
  padding-bottom: 10px;
}

.goods.two a {
  text-decoration: none;
  font-weight: 600;
}


/* main styles */

body {
  background-color: #F2C94C;
}

main {
  margin: 10px;
  background-color: white;
  min-height: calc(100vh - 20px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border: 5px solid #2F80ED;
  outline: 5px solid #EB5757;
}

.col.one h2 {
  padding-bottom: 20px;
  border-bottom: 5px solid #2F80ED;
}

.col.two h2 {
  padding-bottom: 20px;
  border-bottom: 5px solid #EB5757;
}

.col.three h2 {
  padding-bottom: 20px;
  border-bottom: 5px solid #F2C94C;
}

.col.three a {
  border-bottom: 3px solid #F2C94C;
  transition: all ease-in-out 0.1s;
  padding-bottom: 4px;
}

.col.three a:hover {
  border-bottom: 5px solid #F2C94C;
}

.col.one a {
  border-bottom: 3px solid #2F80ED;
  transition: all ease-in-out 0.1s;
  padding-bottom: 4px;
}

.col.one a:hover {
  border-bottom: 5px solid #2F80ED;
}


.goods {
  margin-top: 80px;
  padding: 0 40px 20px 40px;
}

.goods.two {
  display: flex;
  flex-direction: column;
}

.card {
  min-height: 10%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  padding: 20px;
  border: 5px solid #EB5757;
  min-height: 80px;
}

.card h4 {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #333;
}

.card:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);

}

.card p {
  margin-bottom: 0px;
}

/* layout */

.col {
  height: 100%;
}

.col.one {
  border-right: 5px solid #2F80ED;
  background-image: url("assets/blue-dot.svg");
  background-repeat: repeat;
}

.col.two {
  border-right: 5px solid #2F80ED;
  background-image: url("assets/red-dot.svg");
  background-repeat: repeat;
}

.col.three {
  background-image: url("assets/yellow-dot.svg");
  background-repeat: repeat;
}


/* circle + animation

.circle {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  background-color: black;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.circle p {
  color: white;
  font-size: 28px;
  font-family: "VeronaSerial-Xbold";
  margin-bottom: 0px;
} */

/* 
.h1 {
  font-size: 64px;
  font-weight: 100;
  font-family: "VeronaSerial";
} */


@media screen and (max-width:960px) {

  .col {
    padding: 24px;
  }

  .col.header {
    border: none;
  }

  .col h2 {
    margin: 0px;
    padding-bottom: 20px;
    border-bottom: 5px solid #2F80ED;
  }

  .col.one {
    border-right: none;
  }

  .col.two {
    border-right: none;
  }

  h2 {
    transform: rotate(-4deg);
  }

  .goods {
    padding: 0px 16px;
  }


  main {
    grid-template-columns: none;
    height: auto;
    margin: 10px;
    background-color: white;
    min-height: calc(100vh - 20px);
    border: 5px solid #2F80ED;
    outline: 5px solid #EB5757;
  }

  h2 {
    width: auto;
  }

  .circle {
    margin-right: 0px;
    margin-bottom: 16px;
    width: 60px;
    height: 60px;
  }
}