@import url(webfonts.css);

body {
  background-color: #F2C94C;
}

main {
  margin: 40px;
  background-color: white;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid #2F80ED;
  outline: 20px solid #EB5757;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
  margin-bottom: 4px;
  transition: border-bottom 0.1s ease-in-out;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  border-bottom: 4px solid black;

}

.hello {
  max-width: 720px;

}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.circle {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  background-color: black;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.circle p {
  color: white;
  font-size: 28px;
  font-family: "VeronaSerial-Xbold"
}

.hello h1 {
  font-size: 64px;
  font-weight: 100;
  font-family: "VeronaSerial";
}

.hello h2 {
  font-family: "VeronaSerial";
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 12px;
  font-weight: 500;
}

.hello h3 {
  font-family: "VeronaSerial";
  margin-top: 48px;
  font-size: 16px;
  line-height: 1.75;
}

@media(max-width:840px) {

  .hello {
    padding: 40px;
  }

  .intro h1 {
    font-size: 54px;
  }

  .circle p {
    font-size: 20px;
  }

  main {
    margin: 20px;
    background-color: white;
    min-height: calc(100vh - 40px);
    border: 10px solid #2F80ED;
    outline: 10px solid #EB5757;
  }

  .intro {
    flex-direction: column;
  }

  .circle {
    margin-right: 0px;
    margin-bottom: 16px;
    width: 60px;
    height: 60px;
  }


  .hello h1 {
    font-size: 24px;
    font-family: "VeronaSerial-Bold";
  }

  .main-content h2 {
    font-size: 16px;
  }

  .main-content h3 {
    font-size: 14px;
  }